{
    "presets": [
      "@babel/preset-typescript",
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": 3
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
        // included in @babel/preset-react
        ["@babel/plugin-transform-react-jsx", {
          // "pragma": "h",
          "pragmaFrag": "Fragment"
        }]
      ]
}